/* External CSS 
Need to connect to the HTML file */ 
.title {
	font-size: 40px; 
	color: brown; 
}


p { 
	font-size: 20px; 
	color: red; 
} 


/* can use inspect in dev tools to pick a color you want 
can also try rgba and the a means opacity so 0.5 is half*/ 
.hello {
	/* background-color: #efefef; */ 
	height: 100%; 
	background-image:url(turkeyemoji.png); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover; 
	background-attachment: fixed; 
	
	/* borders :) 
	border-style: dashed; 
	border-width: 2px; 
	border-color: red; 
	*/ 
	
	/* Can merge to one line, can also do border-top or something */ 
	border: dashed 5px blue; 
	/*curves the corner*/ 
	border-top-left-radius: 30px; 
	border-top-right-radius: 20px; 
	border-bottom-left-radius: 10px; 
	
	cursor: pointer; 
	
	/* move everything to right
	float: right; */ 

	/* stuff in hello disappears  
	display: none; 	*/ 
	
	/* display: removes elem/takes no space 
	visibility: keep elem in layout, but invisible 	 
	visibility: hidden; 
	*/ 
	
	/* u can have width as % and min-width as px to make it look good  
	width: 50%; 
	min-width: 500px; 
	*/ 
	
	/* increase space between words vertically */ 
	line-height: 30px; 
	font-size: 20px; 
	font-style: italic; 
	/* can use google font for more families */ 
	font-family: cursive; 
	
	/* Add 40 px to each side 
	margin adds space outside division, padding adds space inside division
	can also do margin-left or do it all in one line  
	margin: 40px; 
	padding: 80px; 
	*/ 
	
	/* order: top right bottom left  
	margin: 100px 200px 300px 10px; 
	*/ 
	
	/* order: first ine is top/bottom, second one is left/right  
	margin: 100px 200px; 
	*/ 
	
	/* order: first one: top, second one: left/right, third one: bottom */ 
	margin: 10px 200px 100px; 	
}


ul { 
	/* with none, u can remove bullet points */ 
	list-style: square; 
} 


input { 
	/* outline: none; */ 
	outline-color: red; 
} 
	

/* need hi p instead of just hi or else the font-size won't apply 
since we already change it in p{} 
and since in html file, we have <div...hi> <p> ... </p> </div> 
the p will get applied since it overrides the inherited 10px font from div 
so we need to be more specific with hi p to get the font size to change */ 
.hi p { 
	text-align: center; 
	font-size: 10px; 
	text-decoration: underline; 
	text-transform: uppercase; 
	letter-spacing: 18px; 
	word-spacing: 30px; 
	/* [horizontal offset] [vertical offset] [blur radius] [color] */ 
	text-shadow: 2px 2px 5px black; 
}


/* To refer to child class 
.hi .inner-hi p {} 

this is different then .inner-hi p {} since...
 this targets every .inner-hi class, not only the one in the parent hi class 
*/ 


/* 
we have pseudoclass (define special dynamic state of elem) like...
- active, triggers with mouse click/press 
- focus, triggers when elem has keyboard/input focus
- hover, triggers when mouse over elem 
- first-child, selects if elem first child of parent 
- last-child,  selects if elem last child of parent 
*/ 

p:hover {
	color: orange; 
} 


/* 
*{} is the universal selector that selects every elem on this page 
*/ 


.positionTest {
	width: 600px; 
	height: 150px; 
	background: #9ec3ff; 
	margin: 100px auto;  
}


.inner-position {
	width: 200px; 
	height: 100px; 
	background: grey; 
	/* moves it to absolute position based on entire webpage 
	position: absolute; 
	top: 10px; 
	left:10px; 
	*/ 
	
	/* moves it to relative position based on shifting */ 
	position: relative; 
	top: 10px; 
	left:10px;  
} 


.inner-position p {
	color: #fff; 
	font-size: 24px; 
} 


/* double colon is pseudo elem, not pseudo-class 
::after creates the elem after the content in this div */ 
.positionTest::after{
	content: ''; /* needed for after to exist */ 
	width: 100px; 
	height: 50px; 
	background: blue; 
	
	/* without position: absolute, it behaves like inline elem 
	and since content: '', taking it out would make the recatnge 'invisible' */ 
	position: absolute; 
} 


/* double colon is pseudo elem, not pseudo-class 
::after creates the elem after the content in this div */ 
.positionTest::before{
	content: ''; /* needed for after to exist */ 
	width: 100px; 
	height: 50px; 
	background: orange; 
	position: absolute; 
} 


.demo { 
	width: 700px; 
	height: 700px; 
	background: black; 
	margin: 50px auto; 
	
	/* instead of in one col, the "sticky notes" are now in one row */ 
	display: flex; 
}


.demo-inner {
	/* 
	having this will make flex-basis 50% look smaller than half 
	since its trying to fit the 50% in the avaliable space 
	width: 150px; */ 
	height: 150px; 
	background: orange;
} 


.demo-inner p {
  margin: 0;
  font-size: 24px; 
  color: #fff; 
}


/* Select .demo-inner if it is the first child of its parent */ 
.demo-inner:nth-child(1){ 
	background: red; 
	flex-basis: 15%; 
} 

/* Select .demo-inner if it is the second child of its parent */ 
.demo-inner:nth-child(2){ 
	background: orange;  
	flex-basis: 20%;
} 

/* Select .demo-inner if it is the third child of its parent */ 
.demo-inner:nth-child(3){ 
	background: yellow;  
	flex-basis: 40%;
} 

/* Select .demo-inner if it is the fourth child of its parent */ 
.demo-inner:nth-child(4){ 
	background: green;  
	/* flex: 1 covers all the avaliable space in the row */ 
	flex: 1;
} 


.demo2 { 
	width: 700px; 
	height: 700px; 
	background: black; 
	margin: 50px auto; 
	
	/* instead of in one col, the "sticky notes" are now in one row */ 
	display: flex; 
}


.demo-inner2 { 
	height: 150px; 
	background: orange; 
	flex-basis: 15%; 
} 


.demo-inner2 p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}


/* Select .demo-inner if it is the first child of its parent */ 
.demo-inner2:nth-child(1){ 
	background: red; 
	
	/* Explaination of how much space it takes: 
	parent class has flex-basis: 15% each so total take up 60% 
	free space is 40% (100-60) 
	flex-grow is a ratio, meaning first child is 2 while others are 0 by default
	child1 gets ALL of the free space of 40% 
	since the others have ratio of 0  */ 
	flex-grow: 2; 	
} 

/* Select .demo-inner if it is the second child of its parent */ 
.demo-inner2:nth-child(2){ 
	background: orange;   
} 

/* Select .demo-inner if it is the third child of its parent */ 
.demo-inner2:nth-child(3){ 
	background: yellow;   
} 

/* Select .demo-inner if it is the fourth child of its parent */ 
.demo-inner2:nth-child(4){ 
	background: green;   
} 


.demo3 { 
	width: 700px; 
	height: 700px; 
	background: black; 
	margin: 50px auto; 
	
	/* instead of in one col, the "sticky notes" are now in one row */ 
	display: flex; 
}


.demo-inner3 { 
	height: 150px; 
	background: orange;  
	/* split each into [175px][175px][175px][175px] (700/4) */ 
	flex-basis: 25%; 
	/* padding causes 20px extra left and right 
	so each take up 215px (215*4 = 860) 
	and 860px > 700px so flex-shrink finds how to shrink stuff */ 
	padding: 20px; 
} 


.demo-inner3 p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}


/* Select .demo-inner if it is the first child of its parent */ 
.demo-inner3:nth-child(1){ 
	background: red;  
	/* flex-grow for extra space and flex-shrink for not enough space */ 
	/* ratio of 4 for child1 and 1 for child2-4 
	meaning total srhink units = 7 and child1 gets 4/7 
	so with 160px overflow (860-700) 
	child1 gets 4/7*160 smalled so 215 - (160*4/7) = 123.57px 
	and other children get 215-22.86 = 192.14px of space it takes up total */ 
	flex-shrink: 4; 
} 

/* Select .demo-inner if it is the second child of its parent */ 
.demo-inner3:nth-child(2){ 
	background: orange;
	flex-shrink: 1; 	
} 

/* Select .demo-inner if it is the third child of its parent */ 
.demo-inner3:nth-child(3){ 
	background: yellow;   
	flex-shrink: 1; 
} 

/* Select .demo-inner if it is the fourth child of its parent */ 
.demo-inner3:nth-child(4){ 
	background: green; 
	flex-shrink: 1;   
} 


.demo4 { 
	width: 700px; 
	height: 700px; 
	background: black; 
	margin: 50px auto; 
	
	/* instead of in one col, the "sticky notes" are now in one row */ 
	display: flex;
	
	/* vertically centered 
	default is align-items: stretch; */ 
	align-items: center; 
	/* flex-start puts it on top, flex-end puts it on bottom */ 
	
	/* horiz centering */ 
	justify-content: center; 
	/* flex-start puts it on left, flex-end puts it on right */ 
	
	/* equal space between all col   
	justify-content: space-between; */ 
	
	/* equal space between all columns but also will be space at start and end */ 
	justify-content:space-around; 
	
	/* this is the default, put the sticky notes into a row
	if use row reverse, will go from 4-1 but the 1 touches the right side 
	flex-direction: row; */  
	
	/* puts the sticky notes into a col 
	if use column reverse, will go from 4-1 but the 1 touches the bottom side */ 
	flex-direction: column; 
}


.demo-inner4 { 
	height: 150px; 
	background: orange;   
	width: 150px; 
} 


.demo-inner4 p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}


/* Select .demo-inner if it is the first child of its parent */ 
.demo-inner4:nth-child(1){ 
	background: red;   
} 

/* Select .demo-inner if it is the second child of its parent */ 
.demo-inner4:nth-child(2){ 
	background: orange; 
} 

/* Select .demo-inner if it is the third child of its parent */ 
.demo-inner4:nth-child(3){ 
	background: yellow;   
} 

/* Select .demo-inner if it is the fourth child of its parent */ 
.demo-inner4:nth-child(4){ 
	background: green;  
} 


.demo5 { 
	width: 700px; 
	height: 700px; 
	background: black; 
	margin: 50px auto; 
	
	/* instead of in one col, the "sticky notes" are now in one row */ 
	display: flex; 
	
	/* allows for 150 px with since coming in 2 lines 
	wrap reverse reverses location and numbering */ 
	flex-wrap: wrap-reverse; 
}


.demo-inner5 { 
	height: 150px; 
	background: orange;   
	
	/* its actually smaller (without flexwrap) because 8 in one row and only 700 total 
	so not enough space */ 
	width: 150px; 
} 


.demo-inner5 p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}


/* Select .demo-inner if it is the first child of its parent */ 
.demo-inner5:nth-child(1){ 
	background: red;   
} 

/* Select .demo-inner if it is the second child of its parent */ 
.demo-inner5:nth-child(2){ 
	background: orange; 
} 

/* Select .demo-inner if it is the third child of its parent */ 
.demo-inner5:nth-child(3){ 
	background: yellow;   
} 

/* Select .demo-inner if it is the fourth child of its parent */ 
.demo-inner5:nth-child(4){ 
	background: green;  
} 

/* Select .demo-inner if it is the fifth child of its parent */ 
.demo-inner5:nth-child(5){ 
	background: blue;   
} 

/* Select .demo-inner if it is the sixth child of its parent */ 
.demo-inner5:nth-child(6){ 
	background: indigo; 
} 

/* Select .demo-inner if it is the seventh child of its parent */ 
.demo-inner5:nth-child(7){ 
	background: violet;   
} 

/* Select .demo-inner if it is the eight child of its parent */ 
.demo-inner5:nth-child(8){ 
	background: pink;  
} 


.lastTest { 
	width: 600px; 
	height: 600px; 
	background: black; 
	margin: 100px auto;  
	
}


.lastTest-inner { 
	height: 150px; 
	background: orange;   
	
	/* its actually smaller (without flexwrap) because 8 in one row and only 700 total 
	so not enough space */ 
	width: 150px; 
	
	/* change from orange to blue when hover has transition */ 
	transition: 1s; 
} 


.lastTest-inner:hover {
	background: blue; 
} 


.lastTest-inner p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}


.lastTestAni { 
	width: 600px; 
	height: 600px; 
	background: black; 
	margin: 100px auto;  
	
}


.lastTestAni-inner { 
	height: 150px; 
	background: orange;   
	
	/* its actually smaller (without flexwrap) because 8 in one row and only 700 total 
	so not enough space */ 
	width: 150px;  
	animation: motion 5s linear infinite; 
} 
/* For motion, we need to set keyframes */ 


@keyframes motion{ 
	100% {
		transform: translate(400px, 400px); 
	}
}


.lastTestAni-inner p {
	margin: 0;
	font-size: 24px; 
	color: #fff; 
}