/* External CSS 
Need to connect to the HTML file */ 
.title
{
	font-size: 40px; 
	color: brown; 
}

p 
{ 
	font-size: 20px; 
	color: red; 
} 


/* can use inspect in dev tools to pick a color you want 
can also try rgba and the a means opacity so 0.5 is half*/ 
.hello
{
	
	
	
	
	/* background-color: #efefef; */ 
	height: 100%; 
	background-image:url(turkeyemoji.png); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover; 
	background-attachment: fixed; 
	
	
	/* borders :) 
	border-style: dashed; 
	border-width: 2px; 
	border-color: red; 
	*/ 
	
	/* Can merge to one line, can also do border-top or something */ 
	border: dashed 5px blue; 
	/*curves the corner*/ 
	border-top-left-radius: 30px; 
	border-top-right-radius: 20px; 
	border-bottom-left-radius: 10px; 
	
	
	cursor: pointer; 
	
	/* move everything to right
	float: right; */ 

	/* stuff in hello disappears  
	display: none; 	*/ 
	
	/* display: removes elem/takes no space 
	visibility: keep elem in layout, but invisible 	 
	visibility: hidden; 
	*/ 
	
	
	/* u can have width as % and min-width as px to make it look good  
	width: 50%; 
	min-width: 500px; 
	*/ 
	
	/* increase space between words vertically */ 
	line-height: 30px; 
	font-size: 20px; 
	font-style: italic; 
	/* can use google font for more families */ 
	font-family: cursive; 
	
	
	/* Add 40 px to each side 
	margin adds space outside division, padding adds space inside division
	can also do margin-left or do it all in one line  
	margin: 40px; 
	padding: 80px; 
	*/ 
	
	/* order: top right bottom left  
	margin: 100px 200px 300px 10px; 
	*/ 
	
	/* order: first ine is top/bottom, second one is left/right  
	margin: 100px 200px; 
	*/ 
	
	/* order: first one: top, second one: left/right, third one: bottom */ 
	margin: 10px 200px 100px; 
	
	
	
	
}

ul{ 
	/* with none, u can remove bullet points */ 
	list-style: square; 
} 


input { 
	/* outline: none; */ 
	outline-color: red; 
	
} 
	

/* need hi p instead of just hi or else the font-size won't apply 
since we already change it in p{} 
and since in html file, we have <div...hi> <p> ... </p> </div> 
the p will get applied since it overrides the inherited 10px font from div 
so we need to be more specific with hi p to get the font size to change */ 
.hi p { 
	text-align: center; 
	font-size: 10px; 
	text-decoration: underline; 
	text-transform: uppercase; 
	letter-spacing: 18px; 
	word-spacing: 30px; 
	/* [horizontal offset] [vertical offset] [blur radius] [color] */ 
	text-shadow: 2px 2px 5px black; 
}
 